

.wrapperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.termBadgeRed {
    border-radius: 12px;
    background-color: #FF4d4f;
    color: white;
    width: 175px;
}

.termBadgeBlue {
    border-radius: 12px;
    background-color: #e6f7ff;
    color: #1890ff;
    padding: 0px 2px 0px 0px ;
    width: 175px;
}

.wrapper {
    background-color: white;
    padding: 50px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
}

.wrapper h1 {
    font-size: 40px;
    text-align: start;
    margin: 0;
    max-width: 80%;
}

.content {
    height: 100%;
    display: flex;
}
