.root {
    text-align: left;
}

.header {
    text-align: left;
    background-color: white;
    padding: 0 24px 16px 24px;
}

.headerRow {
    display: flex;
    justify-content: flex-start;
}

.companyCard {
    padding: 16px;
    text-align: left;
}

.card {
    padding: 24px;
    background-color: white;
}

.paragraphOpacity:nth-child(2n) {
    opacity: 0.5;
}

.directorName {
    font-weight: 600;
    color: #096dd9;
    font-size: 16px;
}

.companyStatus {
    color: #52c41a;
}

.directorsTypography * {
    margin: 0;
}


.companyInfo {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-gap: 20px;
    align-items: center;
}
