.authPage {
  display: flex;
  justify-content: center;
  height: calc(100vh - 75px);
  background-color: #F5F5F5;
  padding: 50px 3% 25px 3%;
}

.formContent {
  width: 100%;
  height: fit-content;
  max-width: 470px;
  background-color: white;
  padding: 45px;
  text-align: left;
}

.formHint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
}

@media (max-width: 425px) {
  .formContent {
    padding: 25px
  }

  .formHint {

  }
}
