.root {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-gap: 7.5px;
    text-align: left;
    padding: 5px 10px;
    height: auto;
    align-items: center;
    width: 100%;
}

.rootBlock {
    display: block !important;
    text-align: center;
}
